
.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileContainer{
    margin-right: 10px;
    position: relative;
}


.rightbarProfileImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:limegreen;
    position: absolute;
    bottom: 7px;
    right: -2px;
    border: 1px solid white;
}


.rightbarUsername{
    font-weight: 500;
}

